.wallet-form {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
}

.wallet-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wallet-form label select , .wallet-form label input {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  padding: 7px;
}

.btn-add-expense {
  align-self: flex-end;
  height: 40px;
}
