* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(80deg, rgba(92, 244, 160, 0.209), rgba(92, 244, 160, 0.026));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

:root {
  --mainGreen: rgb(42, 135, 84);
  --backGreen: rgba(92, 244, 160, 0.061);
}

.flexible-horizon {
  display: flex;
  align-items: center;
  align-content: center;
}
